mat-toolbar {
  display: flex;
  justify-content: center;
  background: white;
}

h4 {
  padding: 8px 16px;
  font-style: italic;

  &.title {
    //font-weight: bold;
    font-size: 25px;
  }
}

.edit-title {
  width: 95%;
  padding: 6px 5px;
  font-size: 18px;
  font-style: italic;
  font-family: Arial, sans-serif;
  margin-bottom: 12px;
  border: 1px solid black;
  border-radius: 5px;
  outline:none;
}

.content {
  height: calc(100vh - 60px);
  display: flex;
}

.category {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
  flex: 1 0 280px;
  max-width: 300px;
  overflow: auto;

  &__title {
    border: 1px solid black;
    margin: 0 0 12px;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    border-radius: 4px;
  }

  &.transparent {
    opacity: 0.7;
  }

}

.remove {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tasks {
  height: 85%;

  &__create {
    display: block;
    width: 100%;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
}

.addButton {
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 6px;
  line-height: 24px;
  text-align: center;
  border-radius: 7px;
}

.alternative-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-family: 'Chewy', cursive;
  font-size: 75px;
  opacity: 0.3;
}

app-task-form {
  width: 100%;
}
.task-form {
  display: flex;
  align-items: center;
}
