<mat-toolbar>
  <h4 class="title">Tasks management</h4>
</mat-toolbar>
<section class="content"
         cdkDropList
         [cdkDropListData]="categories"
         [cdkDropListOrientation]="'horizontal'"
         (cdkDropListDropped)="dropCategory($event)">
  <div class="category"
       *ngFor="let category of categories"
       cdkDropListGroup
       cdkDrag
       cdkDragLockAxis="x">
    <div class="category-name" (click)="edit(category)">
      <input matInput
             class="edit-title"
             type="text"
             *ngIf="editCategory === category; else titleBlock"
             [(ngModel)]="category.title"
             (keyup.enter)="changeTitle(category)">
      <ng-template #titleBlock>
        <h4 class="category__title">
          {{category.title}}
        </h4>
      </ng-template>
    </div>


    <div cdkDropList
         id="{{category.id}}"
         [cdkDropListConnectedTo]="getConnectionList()"
         [cdkDropListData]="taskItems[category.id]"
         (cdkDropListDropped)="dropTask($event)"
         class="tasks">
            <app-task *ngFor="let task of taskItems[category.id]"
                      cdkDrag
                      [task]="task"
                      (click)="editForm(task); showTaskForm = true">
            </app-task>
        <button  mat-stroked-button
                 color="primary"
                 class="tasks__create"
                 (click)="newFormTask(category.id); showTaskForm = true">
          <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="remove">
      <button  mat-icon-button
               color="warn"
               class="category-delete"
               (click)="deleteCategory(category.id)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="category"
       [ngClass]="{'transparent': !showCreateCategoryForm}"
  >
        <app-create-category *ngIf="showCreateCategoryForm; else plusButton"
                                  (cancel)="showCreateCategoryForm = false"
                                  (create)="addNewCategory($event)"
        ></app-create-category>

    <ng-template #plusButton>
      <button mat-raised-button color="primary" class="addButton"
              (click)="showCreateCategoryForm = true">
        Add category
      </button>
    </ng-template>
  </div>
  <div class="category task-form">
    <app-task-form *ngIf="showTaskForm; else textBlock"
                   [taskEdit]="taskEdit"
                   [action]="actionTitle"
                   (cancel)="showTaskForm = false"
                   (update)="updateTask($event)"
                   (delete)="deleteTask($event)"
                   (create)="addNewTask($event)">
    </app-task-form>
    <ng-template #textBlock>
      <div class="alternative-text">
        <span>Choose a task</span>
      </div>
    </ng-template>
  </div>
</section>

