<form #taskForm="ngForm"
      (ngSubmit)="updateTask(taskForm)">
  <div class="form-input-title">
    <mat-form-field class="form-control">
      <input matInput
             placeholder="Title"
             #title="ngModel"
             name="title"
             [ngModel]="taskEdit.title"
             type="text">
    </mat-form-field>
    <p class="form-error-hint">
<!--      <ng-container *ngIf="createForm.get('title').errors">-->
<!--                <span *ngIf="createForm.get('title').errors['required'] && createForm.get('title').touched">-->
<!--                    This field cann't be empty.-->
<!--                </span>-->
<!--        <span *ngIf="createForm.get('title').errors['minlength'] && createForm.get('title').touched">-->
<!--                    This field should contain minimum 3 chars-->
<!--                </span>-->
<!--      </ng-container>-->
    </p>
  </div>
  <div class="form-input-description">
    <mat-form-field class="form-control">
      <textarea matInput
                placeholder="Description"
                #description="ngModel"
                name="description"
                [ngModel]="taskEdit.description"
                type="text"></textarea>
    </mat-form-field>
    <p class="form-error-hint">
      <!--      <ng-container *ngIf="createForm.get('title').errors">-->
      <!--                <span *ngIf="createForm.get('title').errors['required'] && createForm.get('title').touched">-->
      <!--                    This field cann't be empty.-->
      <!--                </span>-->
      <!--        <span *ngIf="createForm.get('title').errors['minlength'] && createForm.get('title').touched">-->
      <!--                    This field should contain minimum 3 chars-->
      <!--                </span>-->
      <!--      </ng-container>-->
    </p>
  </div>
  <div class="form-buttons">
    <button mat-button
            color="warn"
            (click)="closeForm()">
      Cancel
    </button>
    <button  mat-raised-button color="primary"
             *ngIf="action === 'update'"
             class="form-button success"
             type="submit"
             [disabled]="taskForm.invalid">
      Update
    </button>
    <button mat-button
            *ngIf="action === 'update'"
            (click)="deleteTask(taskForm)">
      Delete
    </button>
    <button mat-button
            *ngIf="action === 'create'"
            (click)="createTask(taskForm)">
      Create
    </button>
  </div>
</form>
